* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    width: 100%;
    height: 100vh;
}

.container {
    width: 950px;
    height: 600px;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.verde {
    height: 10%;
    width: 100%;
    background-color: #00FFB2;
    text-align: center;
    color: #fff;
    border-radius: 20px 20px 0 0;
}

.verde h1 {
    text-align: center;
    padding-top: 15px;
}

.botton {
    width: 400px;
    height: 40px;
    background-color: black;
    border: 4px solid #00FFB2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    color: #fff;
    cursor: pointer;
}

.botton h1 {
    font-size: 18px;
    font-weight: 700;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box {
    width: 120px;
    height: 220px;
    background-color: #d9d9d9;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}

.box img {
    width: 85px;
}

.box p {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btn {
    background-color: #00FFB2;
    border: none;
    color: #fff;
    font-size: 18px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.control input {
    width: 40px;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 5px;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 22px;
    line-height: normal;
    color: #00FFB2;
    text-align: center;
}

span {
    color: red;
}

a {
    color: #fff;
    text-decoration: none;
}

